/* Normalize */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* End of Normalize */
/* Header */
.top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 66px;
}
.top-section .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1fa67a;
  font-size: 24px;
  font-weight: 100;
  padding-left: 70px;
}
.top-section nav {
  margin-right: 70px;
}
.top-section nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3px;
}
.top-section nav ul li {
  list-style-type: none;
  line-height: 30px;
}
.top-section nav ul li .active-link {
  background-color: #1fa67a;
  color: #fff;
}
.top-section nav ul li a {
  text-decoration: none;
  color: #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 15px 18px;
  font-size: 14px;
}
.top-section nav ul li a:hover {
  background-color: #1fa67a;
  padding-top: 18px;
  padding-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* End of Header */
/* Start of Main */
/* Carousel */
.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.carousel .carousel-image {
  width: 100%;
}
.carousel .top-inner {
  position: absolute;
  bottom: 70px;
  left: 30px;
}
.carousel .top-inner .top-h2 {
  background-color: rgba(31, 166, 122, 0.7);
  color: #fff;
  width: 360px;
  height: 50px;
  text-align: center;
  padding: 10px 0;
  font-weight: 100;
}
.carousel .top-inner .top-p {
  background-color: rgba(59, 59, 59, 0.8);
  color: #fff;
  width: 500px;
  padding: 12px;
}

/* End of Carousel */
/* Download Section */
.download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #1FA67A;
  height: 150px;
}
.download .download-p {
  -moz-text-align-last: center;
       text-align-last: center;
  line-height: 35px;
  width: 45%;
  font-size: 22px;
  color: #fff;
}
.download .download-bt {
  border: 1px solid #fff;
  color: #fff;
  background-color: #1fa67a;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 18px;
}
.download .download-bt:hover {
  background-color: #fff;
  color: #1fa67a;
  -webkit-transition: 0.5;
  transition: 0.5;
  cursor: -webkit-grab;
  cursor: grab;
}

/* End of Download Section */
/* Input Search */
.input-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 30px;
}
.input-search input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: 35px;
  border-radius: 0;
  border-color: #fff;
  line-height: 1.42857143;
  border: 1px solid #ccc;
}
.input-search input::-webkit-input-placeholder {
  padding: 0.5px;
}
.input-search input::-moz-placeholder {
  padding: 0.5px;
}
.input-search input:-ms-input-placeholder {
  padding: 0.5px;
}
.input-search input::-ms-input-placeholder {
  padding: 0.5px;
}
.input-search input::placeholder {
  padding: 0.5px;
}
.input-search input:focus {
  border-color: #66afe9;
  outline: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(102, 175, 233, 0.6);
}
.input-search i {
  color: #fff;
  background-color: #1fa67a;
  width: 4%;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-left: -1px;
}

/* End of Input Search */
/* Top Main */
.top-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 50px;
  /* Left Side */
}
.top-main .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin-left: 120px;
}
.top-main .left-side h2 {
  font-size: 32px;
  color: #444444;
  font-weight: 100;
  margin-bottom: 5px;
}
.top-main .left-side .sticky-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  margin-bottom: 15px;
}
.top-main .left-side .sticky-date p {
  font-weight: 100;
  font-size: 13px;
  color: #6B6B6B;
}
.top-main .left-side .sticky-date p i {
  color: #1fa67a;
  margin-right: 5px;
}
.top-main .left-side img {
  width: 40%;
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 4px;
}
.top-main .left-side .sticky-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
}
.top-main .left-side .sticky-inner p {
  width: 60%;
  color: #6B6B6B;
  font-size: 14px;
  line-height: 1.8;
}
.top-main .left-side hr {
  border: 1px solid #eee;
}
.top-main .left-side .sticky-bt-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.top-main .left-side .sticky .sticky-bt {
  background-color: #fff;
  font-size: 14px;
  border: 1px solid #ccc;
  color: #1fa67a;
  padding: 6px 12px;
  border-radius: 2px;
  margin-bottom: 20px;
}
.top-main .left-side .sticky .sticky-bt:hover {
  background-color: #1fa67a;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.top-main .left-side .sticky .sticky-bt i {
  padding-left: 2px;
}

/* End of Left side */
/* Start of Right-side */
.right-side {
  margin-top: 70px;
  width: 25%;
  margin-right: 90px;
  /* Right -side top */
  /* End of Right-side top */
}
.right-side img {
  border: 1px solid #ddd;
  padding: 4px;
}
.right-side .right-side-top {
  border: 1px solid #ddd;
  border-radius: 5px;
}
.right-side .mini-sticky {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5px;
  margin: 10px 0 10px 5px;
}
.right-side .mini-sticky .mini-sticky-inner {
  color: #1fa67a;
  font-size: 14px;
}
.right-side .mini-sticky .mini-sticky-date {
  color: #6B6B6B;
  font-style: italic;
  font-size: 12px;
  padding: 10px 0;
}
.right-side hr {
  border: 1px solid #ddd;
}

/* Start of Right-side bottom */
.right-side-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.right-side-bottom .recent-h2 {
  font-size: 24px;
  color: #1fa67a;
  font-weight: 100;
  margin-top: 25px;
}
.right-side-bottom .recent-h2-div hr {
  margin-bottom: 25px;
}
.right-side-bottom .recent-p {
  padding: 10px 10px;
  color: #6B6B6B;
  font-size: 14px;
}
.right-side-bottom .recent-p span {
  color: #1fa67a;
}

/* End of Right-side bottom */
/* End of Right-side */
/* End of Top Main */
/* End of Main */
/* Start of Footer */
/* Start of Footer Top */
.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #313233;
  width: 100%;
  height: 350px;
  padding: 0 50px;
}
.footer-top .other {
  width: 50%;
}
.footer-top .other-h2 {
  color: #cccccc;
  font-size: 18px;
}
.footer-top .nav-top ul hr {
  border: 1px solid #cccccc;
}
.footer-top .other .nav-top ul li {
  list-style-type: none;
}
.footer-top .other .nav-top ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #cccccc;
  text-decoration: none;
  padding: 15px;
  font-size: 12px;
}
.footer-top .top-text {
  width: 300px;
}
.footer-top .text-main {
  color: #fff;
  font-size: 70px;
}
.footer-top .text-main span {
  color: #77CC6D;
}
.footer-top p {
  color: #cccccc;
  font-size: 12px;
  padding: 10px 0;
}

/* End of Footer Top */
/* Start of Footer Bottom */
.fotter-bottom {
  width: 100%;
  background-color: #1f1f1f;
  height: auto;
}
.fotter-bottom .footer-bottom-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 65px;
}
.fotter-bottom nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.fotter-bottom nav ul li {
  list-style-type: none;
}
.fotter-bottom nav ul li a {
  color: #cccccc;
  text-decoration: none;
  padding: 15px 10px;
  font-size: 12px;
}
.fotter-bottom .footer-bottom-p {
  color: #999999;
  font-size: 12px;
}
.fotter-bottom .footer-bottom-p span {
  color: #cccccc;
}

/* End of Footer Bottom */
/* Start of Footer-bottom */
/* End of Footer-bottom */
/* End of Footer *//*# sourceMappingURL=style.css.map */